*.dat
*.~in
*.gpr
*.$$$
*.lst
*.tmp
*.~gm
*.log
*.lxi
*.~??
*.gdx
untitled*.gms
*.ref
*.g00
*.bak
sav/*.g00
gdx/*.gdx
*.orig
$gms*.par
*.*zip
*.gmp
*.BACKUP
result.csv
bau_***.gms
dat/~*.xlsx
desktop.ini
